/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/


/*coolors palette: CFDBD5. E8EDDF, F5CB5C, 242423, 333533*/


* {
    box-sizing: border-box;
}

body {
    color: #E8EDDF;
    background-color: #333533;
    margin: 2em;
}

.coffee-header {
    text-align: center;
    margin-left: 15px;
    padding-right: 1em;
    font-family: 'Quintessential', cursive;;
}

.coffee-header h1 {
    font-size: 70px;
}

.divider {
    display: flex;
    margin: 2em;
}

button {
    background-color: #F5CB5C;
}

#coffees {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.coffee {
    display: flex;
}

.coffee h2 {
    margin-right: 11px;
}

.coffee p {
    padding-top: 13px;
    color: rgba(207, 219, 213, .8);
}

.coffee-header {
    background-image: url("/images/coffeebeans.jpeg");
    margin: 3em;
    padding-bottom: 10px;
    padding-top: 3px;
}
#coffees{
    font-family: 'Quintessential', cursive;;
}

h2{
    font-family: 'Quintessential', cursive;;
}