/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/


/*coolors palette: CFDBD5. E8EDDF, F5CB5C, 242423, 333533*/


* {
    box-sizing: border-box;
}

body {
    color: #E8EDDF;
    text-shadow: 4px 4px black;
    background-color: #333533;
    margin: 2em;
}

.coffee-header {
    text-align: center;
    margin-left: 15px;
    padding-right: 1em;
    font-family: 'Quintessential', cursive;
    border-radius: 5px;
}

.coffee-header h1 {
    font-size: 70px;
}

.divider {
    display: flex;
    margin: 2em;
}

#img-div {
    float: left;
    padding: 3em;
    background-image: url("img/pexels-juan-pablo-serrano-arenas-894695.jpg");
    background-color: rgba(51, 53, 51, 1);
    background-blend-mode: soft-light;
    background-size: contain;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #F5CB5C;
    cursor: pointer;
    border-radius: 5px;
}

#coffees {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.coffee {
    display: flex;
}

.coffee h3 {
    margin-right: 11px;
    text-shadow: 4px 4px black;
}

.coffee p {
    padding-top: 12px;
    color: rgba(207, 219, 213, .8);
    text-shadow: 4px 4px black;
}

.form-label {
    color: rgb(207, 219, 213);
}

.coffee-header {
    background-image: url("/images/coffeebeans.jpeg");
    margin: 3em;
    padding-bottom: 10px;
    padding-top: 3px;
}

#coffees {
    font-family: 'Quintessential', cursive;
}

h2 {
    font-family: 'Quintessential', cursive;
}

.fa-mug-hot {
    padding-left: 15px;
}